name: eslint-test
on:
  - push
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]
    steps:
      - uses: actions/checkout@v2
      - name: npm install
        run: 
          make install
      - name: Run linter
        run: |
          make lint